.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 320px;
    margin-top: 64px;
    margin-bottom: 64px;
    width: calc(100vw - 320px);
    height: calc(100vh - 128px);
}

.game-canvas {
    width: 100%;
    height: 100%;
    border: 1px solid #333;
    position: relative;
}

.game-canvas canvas {
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: auto !important;
}